
* {
    box-sizing: border-box;
    width: 100%;
}

html {
    box-sizing: border-box;
    display: flex;
    font-family: Lato, sans-serif;
    color: #222;
    line-height: 1.5;
    font-size: 100%;
    background-color: lavender;
    margin: 0;
    padding: 2rem;
}

h1 {
    font-family: "Holtwood-One-SC", serif;
    font-size: 400%;
    color: maroon;
    text-align: center;
}

h2 {
    font-family: "Holtwood-One-SC", serif;
    font-size: 200%;
    text-decoration: underline;
}

img {
    width: 30%;
    display: inline-block;
}

a {
    color: brown;
    text-decoration: none;
}

a:visited {
    color: maroon;
}

a:hover {
    color: crimson;
    text-decoration: underline;
}

a:focus {
    color: black;
}

a.button:link,
a.button:visited {
    border: 2px solid maroon;
    color: black;
    padding: 10px 20px;
}

a.button:hover,
a.button:active,
a.button:focus {
    background-color: maroon;
    color: silver;
    text-decoration: none;
}

nav {
  display: block; 
}

ol li {
    line-height: 2.5;
}

h3 {
    color: brown;
}

h3 + p {
    font-weight: bold;
}

a.one:link {
    color: brown;
}

a.one:visited {
    color: maroon;
}

a.one:hover {
    color:blueviolet;
    text-decoration: none;
}

a.two:link {
    color: brown;
}

a.two:hover {
    color: maroon;
    text-decoration: none;
    font-size: x-large;
}

a.three:link {
    color: maroon;
}

a.three:hover {
    color: white;
    background-color: maroon;
    padding: 5px 20px;
    text-decoration: none;
}

a.four:link {
    color: maroon;
}

a.four:hover {
    font-family: Courrier, serif;
    color: maroon;
    text-decoration: none;
}

a.five:link {
    color: maroon;
}

a.five:hover {
    text-decoration: line-through;
    color: maroon;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    justify-content: stretch:
}

.introduction {
background-color: plum;
padding: 1rem 1rem 3rem 1rem;
margin-top: 3rem;
}

.html {
background-color: plum;
padding: 1rem 1rem 3rem 1rem; 
margin-top: 3rem;
}

.css {
background-color: plum;
padding: 1rem 1rem 3rem 1rem;
margin-top: 3rem;
}

.websites {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    background-color: plum;
    padding: .5rem 3rem;
    max-width: 70%;
}

.image img{
    width: 70%;
}

.elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: plum;
    padding: 0.25rem 1rem;
    margin-top: 2rem;
    max-width: 80%;
}

.syntax img {
    width: 40%;
    align-items: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    background-color: plum;
    padding: 0.25rem 1rem;
    max-width: 80%;
}

.image-link {
    width: 100%;
}

.structure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3rem;
    background-color: plum;
    padding: 0.25rem 1rem;
}

.accessibility {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
}

.folder {
    background-color: plum;
    padding: 0.25rem 1rem;
}

.repository {
    background-color: plum;
    max-width: 70%;
    padding: 0.25rem 1rem;
}

.wcag {
    background-color: plum;
    padding: 0.25rem 1rem;
}

.landmark-roles {
    background-color: plum;
    padding: 0.25rem 1rem;
    max-width: 50%;
}

.css-tags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 2rem;
}

.syntax {
    background-color: plum;
    padding: 0.25rem 1rem;
    max-width: 50%;
}

.typography {
    background-color: plum;
    padding: 0.25rem 1rem;
    max-width: 70%;
}

.absolute-paths {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: plum;
    padding: 0.25rem 1rem;
}

.paths {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    justify-content: stretch:
}

.absolute-path {
    margin-top: 3rem;
    background-color: plum;
    padding: 0.25rem 1rem;
}

.relative-path {
    margin-top: 3rem;
    background-color: plum;
    padding: 0.25rem 1rem;
}

.same-page-elements {
    margin-top: 3rem;
    background-color: plum;
    padding: 0.25rem 1rem;
}

.box-model {
    background-color: plum;
    padding: 0.25rem 1rem; 
    margin-bottom: 3rem; 
    max-width: 80%;
}